@font-face {
    font-family: Pliska;
    src: url(fonts/Pliska-Regular.otf);
}

@font-face {
    font-family: PliskaBold;
    src: url(fonts/Pliska-Bold.otf);
}

@font-face {
    font-family: FreeSans;
    src: url(fonts/FreeSans.otf);
}

@font-face {
    font-family: AWT1;
    src: url(fonts/AWTHamiltonGothicExtended.ttf);
}

@font-face {
    font-family: AWT2;
    src: url(fonts/AWTHamiltonGothicLight.ttf);
}

@font-face {
    font-family: AWT3;
    src: url(fonts/AWTNesbittGothic.ttf);
}

@font-face {
    font-family: AWT4;
    src: url(fonts/AWTPageGothicLightFace.ttf);
}

@font-face {
    font-family: Soyuz;
    src: url(fonts/SoyuzGroteskBold.otf);
}

html {
    /*    background-color: black;*/
}

body {
    height: 22000px;
    background-color: black;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

#intro {
    background-color: white;
    z-index: 15;
    height: 100%;
    position: absolute;
    top: -150%;
    width: 100%;
    transition: top 1s;
    -moz-transition: top 1s;
    -webkit-transition: top 1s;
    -o-transition: top 1s;
    box-shadow: 3px 2px 3px rgba(224, 217, 224, 1);
}

#intro.visible {
    top: 0px;
}

.progress-container {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 8px;
    background: transparent;
    z-index: 13;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 8px;
    background: orangered;
    width: 0%;
    border-radius: 5px;
}

.title {
    position: absolute;
    left: 20px;
    font-family: monospace;
    font-size: 1vw;
    color: red;
}

#buttonintro {
    position: fixed;
    z-index: 12;
    /*    right: 40%;*/
    top: 0;
    font-family: 'FreeSans';
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
    padding: 1px 6px;
    height: auto;
    background-color: blue;
    text-align: center;
    /*    border-bottom-left-radius: 5px;*/
    /*    border-bottom-right-radius: 5px;*/
}

#buttonintro:hover {
    background-color: orangered;
}

#buttonintro a {
    text-decoration: none;
    color: white;
}

#buttons a {
    text-decoration: none;
    color: white;
}

#buttons {
    position: fixed;
    z-index: 12;
    right: 2%;
    bottom: 10px;
    font-family: 'FreeSans';
    font-size: 1.5vw;
    padding: 1px 6px;
}

.dropbtn,
.dropbtn2,
#map_button{
    background-color: transparent;
    color: white;
    /*    padding: 16px;*/
    font-size: 1.5vw;
    font-family: 'FreeSans';
    border: none;
    cursor: pointer;
}

#map_button{
    position: fixed;
    float: right;
    display: inline-block;
    width: 30px;
/*    right: 0;*/
    z-index: 14;
    bottom: 10px;
    left: 10px;
}

#map{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

#map img{
/*    width: 100%;*/
    height: 100%;
    margin: 0 auto;
}

.dropdown2 {
    position: fixed;
    display: inline-block;
    right: 24%;
    bottom: 10px;
    z-index: 14;
}

.dropdown {
    position: fixed;
    display: inline-block;
    right: 11%;
    bottom: 10px;
    z-index: 14;
}

.dropdown-content,
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*    min-width: 160px;*/
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    bottom: 2vw;
}

.dropdown-content a,
.dropdown-content2 a {
    color: black;

    font-family: 'FreeSans';
    font-size: 20px;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropdown-content2 a:hover {
    background-color: orangered;
    color: white;
}

.dropdown:hover .dropdown-content,
.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown:hover .dropbtn,
.dropdown2:hover .dropbtn2,
#buttons:hover {
    background-color: orangered;
}

.middle {
    position: fixed;
    z-index: 15;
    width: 90%;
    /*   user-select: none; */
    /*    pointer-events: none;*/
    height: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    background: url(background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*    box-shadow: 5px 0px 5px rgba(224,217,224,1);*/
    border: 3px solid orangered;
    border-radius: 3px;
}

#close {
    float: right;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    background: orangered;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'FreeSans'
        /*    z-index: 999999;*/
}

#close:hover {
    background: black;
}

.scoby {
    display: block;
    position: relative;
    width: 20%;
    margin: 0 auto;
    top: 25%;
    text-align: center;
    vertical-align: middle;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.kefir {
    display: block;
    position: relative;
    width: 40%;
    left: 10%;
    /*    margin: 0 auto;*/
    top: 15%;
    text-align: center;
    vertical-align: middle;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#footer {
    position: fixed;
    bottom: -20000px;
    right: 0;
}

.prog {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 25%;
    font-family: 'FreeSans';
    font-size: 20px;
}


.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 0px 0px 15px rgba(34, 34, 34, 0.6);
}

.grid2x2 > div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box {
    margin: 20px;
}

.box1 {
    background-color: white;

    /*    word-break: break-all;*/
}

.box1 p {
    color: black;
    font-family: 'AWT3';
    font-size: 6vw;
    text-align: center;
    letter-spacing: -0.3vw;
}

#parenthesis {
    font-family: 'Soyuz';
    line-height: 5.2vw;
}

.box2 {
    background-color: white;
    color: black;
    font-size: 1.2vw;
    font-family: 'FreeSans', sans-serif;
}

.box3 {
    background-color: white;
    color: black;
    font-size: 1.2vw;
    font-family: 'FreeSans', sans-serif;

}

.box4 {
    background-color: orangered;
    font-size: 4vw;
    text-align: center;
    font-family: Times, serif;
}

.prop-frame {
    position: fixed;
    width: 45%;
    right: 0;
    /*    bottom: 40px;*/
    z-index: 13;
}

.prop-frame img {
    display: none;
    width: 100%;
}

.narrative {
    right: 10px;
    position: fixed;
    top: 10px;
    width: 100%;
}

.word-frame {
    position: fixed;
    /*    top: 10px;*/
    right: 10px;
    z-index: 10;
    width: 40%;
}

.word-frame2 {
    position: fixed;
    right: 35%;
    width: 40%;
}

.word-frame img {
    width: 100%;
    position: absolute;
    border: 1px solid white;
    border-radius: 3px;
}

.word-frame2 img {
    width: 100%;
    position: absolute;
    border: 1px solid white;
    border-radius: 3px;
    right: 20%;

}

.word-frame p {
    font-family: 'FreeSans';
    font-size: 20px;
    text-align: center;
}

#chat {
    position: absolute;
    z-index: 13;
    width: 100%;

}

#chat iframe {
    width: 100%;
}

.bottomMenu,
.bottomMenu0,
.bottomMenu1,
.bottomMenu2,
.bottomMenu3,
.bottomMenu4,
.bottomMenu5,
.bottomMenu6,
.bottomMenu7,
.bottomMenu8,
.bottomMenu9,
.bottomMenu10,
.bottomMenu11,
.bottomMenu12,
.bottomMenu13,
.bottomMenu14,
.bottomMenu15,
.bottomMenu16,
.bottomMenu17,
.bottomMenu18,
.bottomMenu19,
.bottomMenu20,
.bottomMenu21,
.bottomMenu22,
.bottomMenu23,
.bottomMenu24,
.bottomMenu25,
.bottomMenu26,
.bottomMenu27,
.bottomMenu28,
.bottomMenu28_2,
.bottomMenu29,
.bottomMenu30,
.bottomMenu31,
.bottomMenu32,
.bottomMenu33,
.bottomMenu34,
.bottomMenu35,
.bottomMenu36,
.bottomMenu37,
.bottomMenu38,
.bottomMenu39,
.bottomMenu40,
.bottomMenu41,
.bottomMenu42,
.bottomMenu43,
.bottomMenu44,
.bottomMenu45,
.bottomMenu46,
.bottomMenu47,
.bottomMenu48,
.bottomMenu49,
.bottomMenu50,
.bottomMenu51,
.bottomMenu52,
.bottomMenu53,
.bottomMenu54,
.bottomMenu55,
.bottomMenu56,
.bottomMenu57,
.bottomMenu58,
.bottomMenu59,
.bottomMenu60,
.bottomMenu61,
.bottomMenu62,
.bottomMenu63,
.bottomMenu64,
.bottomMenu65,
.bottomMenu66,
.bottomMenu67,
.bottomMenu68,
.bottomMenu69 {
    display: none;
}

.bottomMenu28_2, .bottomMenu31{
    filter: brightness(0.4);
}


::-webkit-scrollbar {
    display: none;
}



#draggable {
    position: fixed;
    z-index: 12;
    bottom: 55%;
    left: 57%;
    width: 5%;
    height: auto;
    transform: rotate(4deg);
    transition: 0.3s;
    /*        border: 1px solid black;*/
}

#draggable:hover,
#ref1:hover,
#ref2:hover,
#ref3:hover {
    width: 6%;
    cursor: grab;
}

#draggable:active,
#ref1:active,
#ref2:active,
#ref3:active {
    cursor: grabbing;
    width: 12%;
}

#ref1 {
    display: none;
    position: fixed;
    z-index: 12;
    bottom: 25%;
    left: 15%;
    width: 5%;
    height: auto;
    transform: rotate(4deg);
    transition: 0.3s;
}

#ref2,
#ref3 {
    display: none;
    position: fixed;
    z-index: 12;
    bottom: 45%;
    left: 15%;
    width: 5%;
    height: auto;
}


#scroll {
    bottom: -25%;
    right: 2%;
    position: absolute;
    width: 5%;
    opacity: 0.7;
    /*    filter: invert(0);*/
}


/*
.dragscroll {
    width: 393px;
    left: -393px;
    left: 0;
     padding-right: 20px;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 11;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    cursor: -webkit-grab;
    cursor: crosshair;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 5px 0px 5px rgba(224, 217, 224, 1);
    background-color: black;
-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.dragscroll:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
*/



.card {
    
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    top: 50px;
}

.card p{
    font-family: monospace,serif;
    color: yellow;
    font-size: 13px;
    white-space: pre-line;
    line-height: 13px;
    padding-left: 5px;
}
#short1,
#short2,
#short3 {
/*    height: 100%;*/
    width: 100%;
}


#slideout {
    background: black;
    position: fixed;
/*    width: 403px;*/
    height: 100%;
    left:-393px;
    
    z-index: 10;
    overflow-x: visible;
    overflow-y: scroll;
    box-shadow: 5px 0px 5px rgba(255, 69, 0, 1);
    -webkit-box-shadow: 5px 0px 5px rgba(255, 69, 0, 1);
}
    
#clickme { 
    position: fixed;
    top: 45%; 
    left: 0;
    height: 100px;
    width: 25px;
    background: rgb(255, 69, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#clickme:hover{
    color: white;
}

#slidecontent {
    float:left;
    width: 393px;
     background-color: black;
-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    overflow: visible;
}

#slidecontent:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
#clickme p{
    writing-mode: vertical-rl;
    font-size: 20px;
    font-family: 'FreeSans';
    line-height: 29px;
}